# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Ignore uploads
# uploads/
